<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/"/>
    <title>Kir-Dev Place</title>

    <link rel="stylesheet" href="@Assets["css/bootstrap/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["css/open-iconic/font/css/open-iconic-bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["Blace.Server.styles.css"]"/> @* Blazor isolated CSS *@
        
    <HeadOutlet/>
</head>
<body>
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView
            Resource="@routeData"
            RouteData="@routeData"
        />
    </Found>
</Router>
        
<script src="@Assets["_framework/blazor.web.js"]" async></script>
<script>
    document.addEventListener('keydown', function (e){
        DotNet.invokeMethod('Blace.Client', 'OnKeyDown', e.key);
    });

    document.getElementById('app').addEventListener('wheel', function (e){
        e.preventDefault();
    });
</script>
</body>
</html>
